<main class="main">
    <%= link_to image_tag("photo.PNG", class: :top__image), new_user_session_path %>
  <div class="inner">
    <h1>あなたの旅の経験を次に訪れる誰かのためにシェアしよう</h1>
    <h2>あなたの旅の素敵な景色やガッカリした事など様々な情報を後に続いて訪れる人のためにシェアしましょう！<h2>
  <div>