<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">写真を投稿しよう！</h2>
        <%= render partial: "form", locals: { prototype: @prototype } %>
        <%# <%= render 'layouts/error_messages', model: f.object %> 
    </div>
  </div>
</div>