<div class="about-main">
  <div class="about-top">
    <%= link_to image_tag("IMG_7011 2.JPG")%>  
    <p class= "message-top">あなたの旅の経験を次の誰かのために。<br>
    ガイドブックに載ってないあなただけのおすすめスポットや
    いろんな情報をシェアしよう！
    </p> 
  </div>
</div>

 